# /etc/default/grub.d/98-armbian.cfg - HiKey960 Fixed
GRUB_DEFAULT=0
GRUB_TIMEOUT=3
GRUB_DISTRIBUTOR="Armbian"
GRUB_CMDLINE_LINUX_DEFAULT="efi=noruntime console=ttyAMA6,115200n8 console=tty1 video=HDMI-A-1:1280x720@60e splash plymouth.ignore-serial-consoles"
GRUB_CMDLINE_LINUX=""
GRUB_DISABLE_OS_PROBER=true
GRUB_TERMINAL="console"
GRUB_DISABLE_SUBMENU=y
